* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #2F2E41;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
}

.flex-header-wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #6C63FF;
}

.login-btn {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px 38px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main {
    padding: 100px 0;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 70px;
    text-align: center;
}

.card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    padding: 46px 20px;
    width: 330px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.cart-title {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.card-image {
    height: 200px;
    margin: 40px 0 36px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
}

footer ul {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

footer a {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.icon {
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .main {
        padding: 46px 0 50px;
    }
    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 576px) {
    .logo-img {
        width: 160px;
    }
    h1 {
        font-size: 36px;
    }
}

