* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

header, footer {
    background-color: #6C63FF;
    height: 80px;
}

.login-btn {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px 38px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main {
    padding: 100px 0;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #2F2E41;
}